/Compiler.suo
/Compiler/bin
/Compiler/obj

/Compiler.sln.docstates.suo
/CompilerTester/obj
/CompilerTester/bin
/Compiler.suo
/Compiler.vsmdi
/Local.testsettings
/TestResults
/CompilerTester/obj
/CompilerTester/bin
/CompilerTester/obj
/compilertester/bin
/compilertester/obj
/traceandtestimpact.testsettings
/Compiler/Program.exe
./stutest.out
/turninderp/
/Milestone2Report.txt
